// Importation des ressources externes
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

$taille_ordi_min: 800px;
$taille_gap: 30px;
$fond_header: #f5f5f5;

// Gestion de l'affichage général

body {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    margin: 0px;
    position: absolute;
}

header {
    display: none;
    position: fixed;
}

p {
    display: flex;
}

a {
    color: black;
    text-decoration: none;

    &:visited {
        color: black;
    }
}

// Gestion du header

@media screen and (min-width: $taille_ordi_min) {
    header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        background-color: $fond_header;
    }
}

.header_img {
    margin: 5px;
    display: flex;
    height: 90%;
}

.header_nav {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.nav_liste {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: $taille_gap;
    list-style: none;
}

.nav_a {
    font-weight: 400;
}

// Gestion du main

section {
    margin: 100px;
}

#titre {
    margin-top: 200px;
    margin-bottom: 120px;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.h1-sous-titre {
    font-weight: 500;
}

.conteneur {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

h3 > a, .competences_conteneur {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: $taille_gap
}

.lien_h3 {
    text-align: center;
}

.contenu_img {
    width: 5%;
}

.parcours_dates, .parcours_niveau {
    font-weight: 700;
}

.competences_liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $taille_gap;
    list-style: none;
    font-size: medium;
    font-weight: 400;
}

#conteneur_projets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $taille_gap;
    justify-content: center;
}

.img_projet {
    width: 100px;
}

.p_projet {
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.contact_liste {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: $taille_gap;
    padding-left: 0px;
}

.contact_img {
    width: 75px;
}

.cv_a {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.cv_img {
    width: 80px;
}

#certifications {
    display: none;
}