@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  margin: 0px;
  position: absolute;
}

header {
  display: none;
  position: fixed;
}

p {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
  transition: 100ms ease-in-out;
}
a:hover {
  color: #c2c3c7;
}
a:visited {
  color: black;
}
a:visited:hover {
  color: #c2c3c7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #f5f5f5;
  }
}
.header_img {
  margin: 5px;
  margin-left: 15px;
  display: flex;
  height: 90%;
  border-radius: 90px;
  transition: 200ms ease-in-out;
}
.header_img:hover {
  transform: scale(0.9);
}

.header_nav {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.nav_liste {
  display: flex;
  padding-right: 20px;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  overflow: hidden;
}

li {
  display: flex;
}

.nav_a {
  font-weight: 400;
  margin: 0 6px;
  position: relative;
}
.nav_a::before {
  content: "";
  position: absolute;
  bottom: -30px;
  background-color: #c2c3c7;
  width: 100%;
  height: 5px;
  border-radius: 8px 8px 0 0;
  transition: 200ms;
}
.nav_a:hover {
  color: #c2c3c7;
}
.nav_a:not(.actif):hover::before {
  bottom: -10px;
}

.nav_indicateur {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: 300ms;
  border-radius: 8px 8px 0 0;
}

@media screen and (min-width: 900px) {
  section {
    padding-top: 100px;
  }
  #titre {
    padding-top: 200px;
  }
}
h1 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
  display: flex;
}

.titre_img {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  border-radius: 100%;
}

.h1-sous-titre {
  font-weight: 500;
}

.h3-centre {
  justify-content: center;
}

.conteneur {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

section > p {
  margin: 20px;
  text-align: center;
}

h3 > a, .competences_conteneur {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.lien_h3 {
  text-align: center;
}

.contenu_img {
  width: 5%;
}

.parcours_dates, .parcours_niveau {
  font-weight: 700;
}

.competences_liste {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  font-size: medium;
  font-weight: 400;
}

.synthese_img {
  width: 100%;
}

#conteneur_projets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.img_projet {
  width: 100px;
  transition: 200ms ease-in-out;
}
.img_projet:hover {
  transform: scale(1.1);
}

.p_projet {
  font-size: medium;
  font-weight: 500;
  text-align: center;
}

.a_projet {
  text-decoration: underline;
}

.contact_liste {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding-left: 0px;
}

.contact_img {
  width: 75px;
  transition: 200ms ease-in-out;
}
.contact_img:hover {
  transform: scale(1.1);
}

.cv_a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  transition: 200ms ease-in-out;
}
.cv_a:hover {
  transform: scale(1.1);
}

.cv_img {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

@media screen and (max-width: 800px) {
  .cv_img {
    width: 40px;
  }
  .cv_a {
    bottom: 60px;
  }
  .cv_p {
    font-size: smaller;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f5f5f5;
  height: 100px;
}

#certifications {
  display: none;
}

.conteneur_projet {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*# sourceMappingURL=style.css.map */
