// Importation des ressources externes
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

$taille_ordi_min: 900px;
$taille_gap: 30px;
$fond_header: #f5f5f5;
$fond_footer: #f5f5f5;
$hauteur_header: 100px;
$hauteur_footer: 100px;

// Gestion de l'affichage général

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    margin: 0px;
    position: absolute;
}

header {
    display: none;
    position: fixed;
}

p {
    display: flex;
}

a {
    color: black;
    text-decoration: none;

    &:visited {
        color: black;
    }
}

// Gestions des scrollbars

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

// Gestion du header

@media screen and (min-width: $taille_ordi_min) {
    header {
        display: flex;
        justify-content: space-between;
        height: $hauteur_header;
        width: 100%;
        background-color: $fond_header;
    }
}

.header_img {
    margin: 5px;
    margin-left: 15px;
    display: flex;
    height: 90%;
    border-radius: 90px;
}

.header_nav {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.nav_liste {
    display: flex;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
    gap: $taille_gap;
    list-style: none;
    overflow: hidden;
}

li {
    display: flex;
}

.nav_a {
    font-weight: 400;
    margin: 0 6px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -30px;
        background-color: #dfe2ea;
        width: 100%;
        height: 5px;
        border-radius: 8px 8px 0 0;
        transition: 200ms;
    }

    &:hover {
        color: #dfe2ea;
    }

    &:not(.actif):hover::before {
        bottom: -10px;
    }
}

.nav_indicateur {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: 300ms;
    border-radius: 8px 8px 0 0;
}

// Gestion du main

@media screen and (min-width: $taille_ordi_min) {
    section {
        padding-top: 100px;
    }
    
    #titre {
        padding-top: 200px;
    }
}

h1 {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.titre_img {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    border-radius: 100%;
}

.h1-sous-titre {
    font-weight: 500;
}

.conteneur {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

section > p {
    margin: 20px;
    text-align: center;
}

h3 > a, .competences_conteneur {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: $taille_gap
}

.lien_h3 {
    text-align: center;
}

.contenu_img {
    width: 5%;
}

.parcours_dates, .parcours_niveau {
    font-weight: 700;
}

.competences_liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $taille_gap;
    list-style: none;
    font-size: medium;
    font-weight: 400;
}

#conteneur_projets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $taille_gap;
    justify-content: center;
}

.img_projet {
    width: 100px;
}

.p_projet {
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.contact_liste {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: $taille_gap;
    padding-left: 0px;
}

.contact_img {
    width: 75px;
}

.cv_a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.cv_img {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

// Gestion du footer
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $taille_gap;
    background-color: $fond_footer;
    height: $hauteur_footer;
}

#certifications {
    display: none;
}
