<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Kévin Lebeau</title>
</head>
<body style="margin: 10px;">
    <main>
        <h1>Mentions Légales</h1>
        <h2>1. Éditeur du site et directeur de la publication:</h2>
            Le directeur de la publication ainsi que l'éditeur de ce site est Kévin Lebeau résidant au 22 rue Louise Michel, 35250, Saint-Aubin-d'Aubigné, France.
            Pour le contacter, vous pouvez lui addresser un courrier à cette adresse ou un courriel sur : <a href="mailto:kevinlebeau2004@gmail.com">kevinlebeau2004@gmail.com</a>.
        <h2>2. Hébergeur :</h2>
        Nom de l'hébergeur :
        Adresse de l'hébergeur :
        Numéro de téléphone de l'hébergeur :
        Adresse e-mail de l'hébergeur :
        <h2>3. Propriété intellectuelle :</h2>
            Le site et son contenu sont la propriété exclusive de Kévin Lebeau. Néanmoins, son contenu vous est mis à disposition sous la licence CC BY-SA 4.0 délivrée par Creative Commons.
            Les icônes utilisées sur celui-ci appartiennent et sont mises à disposition par <a href="https://www.flaticon.com/fr/">Flaticon</a>.
        <h2>4. Collecte et traitement des données personnelles :</h2>
        <p>
            Les informations collectées sur ce site sont destinées à Kévin Lebeau à des fins de contacts et ne seront en aucun cas cédées à des tiers. Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
        </p>
        <h2>5. Cookies :</h2>
        <p>
            Ce site peut utiliser des cookies pour améliorer l'expérience utilisateur. En poursuivant votre navigation, vous acceptez l'utilisation de ces cookies.
        </p>
        <h2>6. Responsabilité :</h2>
        <p>
            Kévin Lebeau ne peut être tenu responsable des erreurs, omissions ou des résultats qui pourraient être obtenus suite à l'utilisation des informations et services proposés sur ce site.
        </p>
        <h2>7. Juridiction compétente :</h2>
        <p>
            Tout litige en relation avec l'utilisation du site kevinlebeau.fr est soumis au droit français. En cas de litige, les tribunaux français seront seuls compétents.
        </p>
        <h2>8. Contact :</h2>
        Pour toute question ou demande d'information, veuillez nous contacter à l'adresse suivante : <a href="mailto:kevinlebeau2004@gmail.com">kevinlebeau2004@gmail.com</a>.
    </main>
    <footer>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">© 2023 Kévin Lebeau</a>
    </footer>
</body>